/* ContactModal.css */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #111;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #222;
  color: white;
}

form input[type="date"],
form input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
}

form button {
  padding: 1rem;
  background-color: #ffcc00;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #e6b800;
}
